<footer>
        <section class="footer-group">
        <h5>copywrite</h5>
        <ul class="footer-list">
            <li class="footer-item"><%= link_to "Contact", "mailto:mail@davidsimandl.com", class: "footer-link" %></li>
            <li class="footer-item"><%= link_to "Privacy Policy", privacy_path, class: "footer-link" %></li>
        </ul>    
        </section>
        <section class="footer-group">
            <h5>pages</h5>
            <ul class="footer-list">
                <li class="footer-item"><%= link_to "Home", root_path, class: "footer-link" %></li>
                <li class="footer-item"><%= link_to "About", about_path, class: "footer-link" %></li>
                <li class="footer-item"><%= link_to "Resume", resume_path, class: "footer-link" %></li>
            </ul>
        </section>
        <section class="footer-group">
            <h5>social</h5>
            <ul class="footer-list">
                <li class="footer-item"><%= link_to "LinkedIn", "https://www.linkedin.com/in/davidsimandl", class: "footer-link" %></li>
                <li class="footer-item"><%= link_to "GitHub", "https://github.com/dsimandl", class: "footer-link" %></li>
            </ul>
        </section>
    </footer>